@keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-from-top {
  animation: slideFromTop 1.2s ease-out forwards;
}

.animate-from-bottom {
  animation: slideFromBottom 1.2s ease-out forwards;
}
