.wave-container {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  box-shadow: 0 20px 30px rgba(59, 130, 246, 0.3);
}

.wave-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 200%;
  height: 100%;
}

.wave-img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

@keyframes slideWave {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-wave1 {
  animation: slideWave 9s linear infinite;
}

.animate-wave2 {
  animation: slideWave 12s linear infinite;
}

.animate-wave3 {
  animation: slideWave 17s linear infinite;
}
