.ant-input,
.ant-input-affix-wrapper {
  height: 50px !important;
  border-radius: 15px !important;
  background-color: #2f4a73 !important;
  color: white !important;
  border-color: #445f8f !important;
  font-size: 18px !important;
  display: flex;
  align-items: center;
}

.ant-input::placeholder {
  color: #9ca3af !important;
  font-size: 18px !important;
}

.ant-input:focus,
.ant-input-focused {
  background-color: #2f4a73 !important;
  border-color: #445f8f !important;
  box-shadow: none !important;
}

.ant-form-item-label {
  padding-bottom: 4px !important;
}

.ant-form-item {
  margin-bottom: 18px !important;
}

.error-box {
  border-radius: 15px;
  padding: 2px;
}

.error-box-active {
  border: 2px solid #ef4444;
}

.datepicker-clean {
  height: 50px !important;
  background-color: #2f4a73 !important;
  border-radius: 15px !important;
  border: 1px solid #445f8f !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
}

.datepicker-clean .ant-picker-input {
  height: 100%;
  display: flex;
  align-items: center;
}

.datepicker-clean input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.datepicker-input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background-color: #2f4a73;
  color: white;
  font-size: 18px;
  border-radius: 15px;
  padding: 0 8px;
}

.ant-picker-input > input::placeholder {
  color: #9ca3af !important;
  font-size: 18px !important;
}
