.ant-input,
.ant-input-affix-wrapper {
  height: 50px !important;
  border-radius: 15px !important;
  background-color: #2f4a73 !important;
  color: white !important;
  border: none !important;
  font-size: 18px !important;
  display: flex;
  align-items: center;
}

.ant-input::placeholder {
  color: #9ca3af !important;
  font-size: 18px !important;
}

.ant-input:focus,
.ant-input-focused {
  background-color: #2f4a73 !important;
  border: none !important;
  box-shadow: none !important;
}

.custom-datepicker.ant-picker {
  width: 100% !important;
  height: 50px !important;
  background-color: #2f4a73 !important;
  border-radius: 15px !important;
  border: none !important;
  padding: 0 14px !important;
  display: flex !important;
  align-items: center !important;
  box-shadow: none !important;
}

.custom-datepicker .ant-picker-input {
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

.custom-datepicker .ant-picker-input > input {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: white !important;
  font-size: 18px !important;
  height: 100% !important;
}

.custom-datepicker .ant-picker-input > input::placeholder {
  color: #9ca3af !important;
  font-size: 18px !important;
}

.custom-datepicker .ant-picker-prefix {
  display: flex !important;
  align-items: center !important;
  margin-right: 10px !important;
}

.custom-datepicker .ant-picker-suffix {
  display: none !important;
}

.custom-datepicker.ant-picker-focused {
  background-color: #2f4a73 !important;
  box-shadow: none !important;
}

.ant-form-item-has-error .custom-datepicker {
  border: none !important;
}

.custom-calendar-popup .ant-picker-panel {
  background: #2f4a73 !important;
  border-radius: 12px;
  border: none;
}

.custom-calendar-popup .ant-picker-header {
  color: white;
  border-bottom: 1px solid #374151;
}

.custom-calendar-popup .ant-picker-content th {
  color: white;
}

.custom-calendar-popup .ant-picker-cell-inner {
  color: white;
  border-radius: 8px;
}

.custom-calendar-popup .ant-picker-cell-inner:hover {
  background: #2563eb;
  color: white;
}

.custom-calendar-popup
  .ant-picker-cell-selected
  .ant-picker-cell-inner {
  background: #3b82f6;
  color: white;
}

.custom-calendar-popup
  .ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border-color: #3b82f6;
}

.custom-calendar-popup
  .ant-picker-cell-disabled
  .ant-picker-cell-inner {
  color: #6b7280;
}
