.animated-gradient {
  background: linear-gradient(90deg, #2b7fff, #ad46ff, #f6339a,#ad46ff, #2b7fff);
  background-size: 200% 200%;
  animation: gradientShift 4s ease-in-out 1 forwards;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
