.animated-gradient {
  background: linear-gradient(90deg, #2b7fff, #ad46ff, #f6339a);
  background-size: 200% 200%; /* Make gradient wider to animate */
  animation: gradientShift 4s ease-in-out 1 forwards; /* smooth continuous animation */
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
