.ant-input,
.ant-input-affix-wrapper {
  height: 50px !important;
  border-radius: 15px !important;
  background-color: #2f4a73 !important;
  color: white !important;
  border-color: #445f8f !important;
  font-size: 18px !important;
  display: flex;
  align-items: center;
}

.ant-picker {
  height: 50px !important;
  border-radius: 15px !important;
  background-color: #2f4a73 !important;
  border-color: #445f8f !important;
  color: white !important;
  display: flex !important;
  align-items: center !important;
  padding-left: 11px !important;
}

.ant-picker-input {
  display: flex !important;
  align-items: center !important;
}

.ant-picker-input > input {
  color: white !important;
  font-size: 18px !important;
}

.ant-input::placeholder,
.ant-picker-input input::placeholder {
  color: #9ca3af !important;
  opacity: 1;
  font-size: 18px !important;
}

.ant-input:focus,
.ant-input-focused,
.ant-picker-focused {
  background-color: #2f4a73 !important;
  border-color: #445f8f !important;
  box-shadow: none !important;
}

.ant-form-item-label {
  padding-bottom: 4px !important;
}

.ant-form-item {
  margin-bottom: 18px !important;
}

.custom-datepicker .ant-picker-suffix {
  display: none !important;
}
