.ant-input,
.ant-input-affix-wrapper {
  border-radius: 15px !important;
  height: 50px !important;
  background-color: #2F4A73 !important;
  color: white !important;
  border-color: #445f8f !important;
  font-size: 18px !important;
}

.ant-picker {
  border-radius: 15px !important;
  height: 50px !important;
  background-color: #2F4A73 !important;
  border-color: #445f8f !important;
  color: white !important;
}

.ant-input::placeholder,
.ant-picker-input input::placeholder {
  color: #9CA3AF !important;
  opacity: 1;
  font-size: 18px !important;
}

.ant-input:focus,
.ant-input-focused,
.ant-picker-focused {
  background-color: #2F4A73 !important;
  border-color: #445f8f !important;
  box-shadow: none !important;
}
